<div class="d-flex justify-content-md-center align-items-center vh-100">
    <div class="row text-center">
        <div class="col-12">
            <h1>Hello Malta de Ci2-CRIS!</h1>
        </div>
        <div class="col-12">
            <p>This page is running Bootstrap! Don't believe me? Look at these buttons:</p>
            <button type="button" class="btn btn-primary">This</button>
            <button type="button" class="btn btn-secondary">is</button>
            <button type="button" class="btn btn-success">amazing!</button>
            <p class="mt-3">or this alert:</p>
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
            </div>
        </div>
    </div>
</div>