<div class="section-header">
  <h2>Projectos</h2>
</div>

<%= link_to "New Project", new_project_path %>

<div class="container position-relative">

<ul>
  <% @projects.each do |project| %>
    <li>
        <%= link_to project.title, project %>
    </li>
  <% end %>
</ul>

</div>